<section>
  <h2>Water meter <br><small>(lat:{{waterMeter.point.latitude}}, long:{{waterMeter.point.longitude}})</small></h2>
  <p><strong>Created at:</strong> {{createdAt | date }} </p>
  <p><strong>Updated at:</strong> {{updatedAt | date }} </p>
  <p><strong>Is water available:</strong> {{waterMeter.water.available}} </p>
  <p><strong>Is water lock:</strong> {{waterMeter.water.lock}} </p>
  <p><strong>Water flow:</strong> {{waterMeter.water.flow}} </p>
  <p><strong>Value:</strong> {{waterMeter.value}} </p>
  <p><strong>Water lock:</strong></p>
  <mat-slide-toggle [ngModel]="waterMeter.water.lock" (ngModelChange)="onWaterLockChange($event)"></mat-slide-toggle>
</section>
<hr>
