<section>
  <h2>Water meter</h2>
  <p><strong>Latitude:</strong> {{waterMeter.point.latitude  }} </p>
  <p><strong>longitude:</strong> {{waterMeter.point.longitude  }} </p>
  <br>
  <p><strong>Created at:</strong> {{createdAt | date }} </p>
  <p><strong>Updated at:</strong> {{updatedAt | date }} </p>
  <p><strong>Is water available:</strong> {{waterMeter.water.available}} </p>
  <p><strong>Is water lock:</strong> {{waterMeter.water.lock}} </p>
  <p><strong>Water lock:</strong> {{waterMeter.water.flow}} </p>
  <p><strong>Value:</strong> {{waterMeter.value}} </p>
  <p>Water lock:</p>
  <mat-slide-toggle [ngModel]="waterMeter.water.lock" (ngModelChange)="onWaterLockChange($event)"></mat-slide-toggle>
</section>
<hr>
