<section *ngIf="formGroup && activeHydroPoint">
  <h2>
    Hydropoint {{activeHydroPoint.name}}
  </h2>
  <form
    [formGroup]="formGroup">
    <p><strong>Area:</strong> {{activeHydroPoint.water.lock}} </p>
    <p><strong>Water flow:</strong> {{activeHydroPoint.water.flow}} </p>
    <p><strong>Is water available:</strong></p>
    <mat-slide-toggle
      formControlName="waterAvailable"
    ></mat-slide-toggle>

    <p><strong>Is water locked:</strong></p>
    <mat-slide-toggle
      formControlName="waterLocked"
      (change)="toggleWaterLock($event)"></mat-slide-toggle>
  </form>
  <hr>
</section>
