<div class="main">
  <div class="main__header">
    <mat-toolbar>
      <button
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="main__header__title">Zapiekanki Aquathon</span>
    </mat-toolbar>
  </div>

  <mat-drawer-container
    class="main__content"
    autosize>
    <mat-drawer
      class="main__content__drawer"
      #drawer
      mode="side"
      opened>Drawer content
    </mat-drawer>
    <mat-drawer-content>
      <app-map
        [zones]="zones$ | async"
        [hydroPoints]="hydroPoints$ | async"></app-map>
    </mat-drawer-content>
  </mat-drawer-container>
</div>

