{{ (activeZone$ | async)?.name }}
<mat-label>Water Available</mat-label>
<mat-checkbox [checked]="(activeZone$ | async)?.waterAvailable"></mat-checkbox>

<!--<form [formGroup]="formGroup">-->
<!--  <mat-form-field appearance="outline">-->
<!--    <mat-label for="waterAvailable">-->
<!--      Test-->
<!--    </mat-label>-->
<!--    <mat-checkbox-->
<!--      name="waterAvailable"-->

<!--      class="form-control"-->
<!--      formControlName="waterAvailable"-->
<!--    ></mat-checkbox>-->
<!--  </mat-form-field>-->
<!--</form>-->
