/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.pl-10 {
  padding-left: 10px;
}

.mt-20 {
  margin-top: 20px !important;
}
